<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sensors2.common">

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.barometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.light"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc.hce"
        android:required="false" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.NFC" />

</manifest>
